<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Register</title>
</head>
<body>
<h1>Cadastro</h1>

<form action="{{ url_for('cadastro') }}" method="post">
    <label for="usuario">Usuário:</label>
    <input type="text" id="usuario" name="usuario">
    <br><br>
    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha">
    <br><br>
    <input class="btn btn-dark" type="submit" value="Enviar">
    <a class="btn btn-primary" href="{{ url_for('login') }}">Já possui conta? Login</a>
</form>

</body>
</html>