<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
    <title>Calendar</title>
</head>
<body>
<h1>Calendario</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul id="messages" class="list-unstyled">
    {% for message in messages %}
    <li class="alert alert-success">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="container">
    <div class="card">
        <h3 class="card-header" id="monthAndYear"></h3>
        <table class="table" id="calendar">
            <thead>
            <tr>
                <th>Dom</th>
                <th>Seg</th>
                <th>Ter</th>
                <th>Qua</th>
                <th>Qui</th>
                <th>Sex</th>
                <th>Sab</th>
            </tr>
            </thead>
            <tbody id="calendar-body">
            </tbody>
        </table>
        <div>
            <button class="btn btn-outline-dark" id="previous" onclick="previous()">Anterior</button>
            <button class="btn btn-outline-dark" id="next" onclick="next()">Proximo</button>
        </div>
        <a id="month" onchange="jump()"></a>
        <a id="year" onchange="jump()"></a>
    </div>
    <a class="btn btn-danger" href="{{ url_for('logout') }}">Deslogar</a>
    <a class="btn btn-primary" href="{{ url_for('newevent') }}">Nova Tarefa</a>
    <table>
        <thead>
        <tr>
            <td>Nome</td>
            <td>Data</td>
            <td>Descrição</td>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{task.task_name}}</td>
            <td>{{task.task_date}}</td>
            <td>{{task.task_description}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>